Repository Combodo/iTop, pull requests merged in 2022-06, with the labels that each got.

#292 CONTRIBUTING.md : update stickers text
  CONTRIBUTING.md
Labels: documentation, internal

#295 N°4280 Handle modules with non existing model.*.php files imported
  setup/compiler.class.inc.php
  setup/modelfactory.class.inc.php
Labels: internal, supportability, Setup

#296 N°4875 : compiler now automatically adds the model.php file
  setup/compiler.class.inc.php
  setup/modelfactory.class.inc.php
  test/setup/SetupUtilsTest.php
Labels: internal, supportability, Setup

#302 🌐 improved Chinese translation
  datamodels/2.x/authent-local/dictionaries/zh_cn.dict.authent-local.php
  datamodels/2.x/combodo-db-tools/dictionaries/zh_cn.dict.combodo-db-tools.php
  datamodels/2.x/itop-attachments/dictionaries/zh_cn.dict.itop-attachments.php
  datamodels/2.x/itop-backup/dictionaries/zh_cn.dict.itop-backup.php
  datamodels/2.x/itop-bridge-cmdb-ticket/dictionaries/zh_cn.dict.itop-bridge-cmdb-ticket.php
  datamodels/2.x/itop-change-mgmt-itil/dictionaries/zh_cn.dict.itop-change-mgmt-itil.php
  datamodels/2.x/itop-change-mgmt/dictionaries/zh_cn.dict.itop-change-mgmt.php
  datamodels/2.x/itop-config-mgmt/dictionaries/zh_cn.dict.itop-config-mgmt.php
  datamodels/2.x/itop-core-update/dictionaries/zh_cn.dict.itop-core-update.php
  datamodels/2.x/itop-faq-light/dictionaries/zh_cn.dict.itop-faq-light.php
  datamodels/2.x/itop-files-information/dictionaries/zh_cn.dict.itop-files-information.php
  datamodels/2.x/itop-hub-connector/dictionaries/zh_cn.dict.itop-hub-connector.php
  datamodels/2.x/itop-incident-mgmt-itil/dictionaries/zh_cn.dict.itop-incident-mgmt-itil.php
  datamodels/2.x/itop-knownerror-mgmt/dictionaries/zh_cn.dict.itop-knownerror-mgmt.php
  datamodels/2.x/itop-portal-base/dictionaries/zh_cn.dict.itop-portal-base.php
  datamodels/2.x/itop-portal/dictionaries/zh_cn.dict.itop-portal.php
  datamodels/2.x/itop-problem-mgmt/dictionaries/zh_cn.dict.itop-problem-mgmt.php
  datamodels/2.x/itop-request-mgmt-itil/dictionaries/zh_cn.dict.itop-request-mgmt-itil.php
  datamodels/2.x/itop-request-mgmt/dictionaries/zh_cn.dict.itop-request-mgmt.php
  datamodels/2.x/itop-service-mgmt-provider/dictionaries/zh_cn.dict.itop-service-mgmt-provider.php
  datamodels/2.x/itop-service-mgmt/dictionaries/zh_cn.dict.itop-service-mgmt.php
  datamodels/2.x/itop-structure/dictionaries/zh_cn.dict.itop-structure.php
  datamodels/2.x/itop-tickets/dictionaries/zh_cn.dict.itop-tickets.php
  dictionaries/ui/components/datatable/zh_cn.dictionary.itop.datatable.php
  dictionaries/ui/layouts/activity-panel/zh_cn.dictionary.itop.activity-panel.php
  dictionaries/ui/layouts/navigation-menu/zh_cn.dictionary.itop.navigation-menu.php
  dictionaries/ui/layouts/object-details/zh_cn.dictionary.itop.object-details.php
  dictionaries/ui/layouts/tab-container/zh_cn.dictionary.itop.tab-container.php
  dictionaries/ui/layouts/ui-content-block/zh_cn.dictionary.itop.ui-content-block.php
  dictionaries/ui/pages/preferences/zh_cn.dictionary.itop.preferences.php
  dictionaries/zh_cn.dictionary.itop.core.php
  dictionaries/zh_cn.dictionary.itop.ui.php
Labels: translation
